@{
    ViewBag.Title = "Acera de";
}

<!-- content-header -->
<div class="content-header">
    <h2><i class="icofont-home"></i> Acerca de la página <small> conosca del sistema</small></h2>
</div><!-- /content-header -->
<!-- content-body -->
<div class="content-body">
    <div class="row-fluid">
        <div class="span12">
            <div class="box corner-all">
                <div class="box-header grd-win8 color-white corner-top">
                    <div class="header-control">
                        <a class="custom-action"><i class="icofont-cog"></i></a>
                        <a data-box="collapse"><i class="icofont-caret-up"></i></a>
                        <a data-box="close" data-hide="fadeOutUp">&times;</a>
                    </div>
                    <span>Ejemplo de página</span>
                </div>
                <div class="box-body">
                    <p>Lorem ipsum dolor sit amet, natoque per at morbi at vestibulum leo, velit non, curabitur ac est. Donec sit mollis imperdiet at tristique dapibus, qui vel in at fusce congue, mi arcu fusce, lacus vitae diam aliquam vel sed curabitur, auctor libero sed libero lectus pellentesque. Et sagittis ut vel dolor nullam proin, porta et morbi turpis vestibulum massa, ligula vestibulum nascetur wisi sed pharetra sem, lorem ipsam. Purus deserunt dignissim imperdiet, orci arcu felis, a aliquam sed. Sit ac pulvinar neque. In pharetra, aut neque congue sodales morbi enim lacus, duis lorem ut eu maecenas, in a orci. Nulla mauris nunc pellentesque sit, integer vivamus nullam dolor ut, sed suspendisse venenatis nec nulla. Erat duis lectus vel wisi, quibusdam aliquam vehicula eleifend ut, massa massa quisque sodales id dictumst.</p>
                </div>
            </div>
        </div>
    </div>
</div>
