@{
    ViewBag.Title = "Contact";
}
<div class="content-body">
    <div class="row-fluid">
        <div class="error-page">
            <div class="divider-content help">
                <span></span>
            </div>
            <h1 class="error-code color-red">En construcción</h1>
            <p class="error-description muted">no disponible aún</p>
            <div class="divider-content help">
                <span></span>
            </div>
        </div>
    </div>
</div>
