
@{
    ViewBag.Title = "Frontend";
}

<h2>Frontend</h2>

<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h2><i class="icofont-home"></i>Frameworks Frontend <small> Conclusiones </small></h2>
            </div><!-- /content-header -->
            <!-- content-body -->
            <div class="content-body"><br /><br /><br />
            <h2>Leidy</h2><br />
               <p align="justify">Un Framework o marco de trabajo tiene diferentes sinónimos que nos ayudan 
                a comprender mejor su significado y que diferentes autores nos han mencionado 
                como esqueleto, esquema, plataforma o un patrón. Básicamente un framework es 
                una estructura a seguir para el desarrollo e implementación de una aplicación 
                o sistema. Pero hablando de Frameworks Front-end, éstos son aquellos marcos de
                 trabajo que nos ayudan a el diseño de la interfaz con la que están en contacto
                 los usuarios. Son plataformas base que ya tienen una estructura o forma de trabajo
                 que facilitan el desarrollo de las aplicaciones y hacen que se desarrolle de una 
                forma más ordenada, donde se dividen sus elementos para tener un panorama mejor 
                del esqueleto de la aplicación. Principalmente estos frameworks se componen de 
                HTML que es responsable del orden de la información, CSS que principalmente 
                se ocupan de dar un formato visual a la aplicación y código JavaScript que se 
                utiliza para incluir elementos dinámicos a las aplicaciones. Una de las ventajas
                 principales de los frameworks Front-end es que ya traen consigo todos sus elementos
                 listos para que el desarrollador pueda diseñar y crear interfaces de usuarios dinámicas,
                 funcionales, interactivas y atractivas a la vista.</p><br />
            <h2>Ramiro</h2><br />
            <p align="justify">Un framework es un entorno de ambiente de trabajo para desarrollo 
                dependiendo del leguaje normalmente integra componentes que facilitan el desarrollo de
                 aplicaciones como el soporte de programa, bibliotecas, plantillas y más.Un framework 
                front-ted es una herramienta que se integra a un proyecto web, para que los programadores
                 se les facilite en la parte de diseño de su sitio web, los framework front-ted son 
                plantillas o marcos de desarrollo, existen diferentes frameworks frontend unos de ellos 
                son: Bootstrap, Fundación, Semántica-Ul, Susy, etc.Todos estos frameworks son utilizados 
                para proyectos a de sitio web, estos marcos de desarrollo están integrados de: HTML, CSS y 
                JS el framework más utilizado es el Bootstrap este fue desarrollado por desarrolladores de 
                Twitter en el 2011, El framework Fundación fue desarrollado por desarrolladores de la casa
                 de Zurb.Para poder utilizarlos solo debemos de adaptarlo correctamente a nuestro proyecto,
                 caso de que no nos guste podemos modificarlo o buscar otras plantillas ya que cuenta con 
                una gran cantidad de variedad de diferentes plantillas con diferentes diseños, dependiendo 
                el gusto del usuario. </p><br />
            <h2>Luis Ángel</h2><br />
            <p align="justify">Es una herramienta o librería básica para agregarse a proyectos web. Donde
                 ayuda a dar estilo a un proyecto de forma única y personalizada, además de que nos ayuda
                 a realizarlos en con más rapidez y con el menor  esfuerzo .Por otro lado, tiene marcos 
                nuevos  que no son ampliamente conocidos que pueden adaptarse de una manera muy eficaz a
                 las necesidades, no cabe duda que cada vez hay más marcos frontales, por lo que es 
                necesario siempre estar al tanto de las opciones con las cuales se pueden contar hoy en día.
                 Siempre se debe tener en cuenta todas las opciones que son proporcionadas por Front end, al
                 momento de elegir, hay que asegurarse de cuál es la que mejor nos ayuda en el proyecto a 
                desarrollarse,  teniendo en cuenta la habilidades de codificación con las cuales se cuentan,
                 para así lograr un mejor desarrollo al momento en el que se implementa. El diseño de 
                respuesta, se debe adaptar a todo tipo de dispositivos, es decir, se debe visualizar 
                al tamaño de pantalla. Si se utiliza procesadores CSS, debe de estar seguro de que el 
                marco lo soporta. Elegir un marco que permita tener una apariencia agradable. Un marco
                 que permita producir prototipos y diseños para acelerar el diseño y el proceso en general. </p><br />
                <h2>Bladimir</h2>
            <p align="justify">Un framework sirve para crear código robusto rápidamente. El desarrollo 
                front-end abarca HTML, CSS y JavaScript. Cuando aprendimos a usar un framework nos dimos
                 cuenta de que era mucha más fácil hacer los trabajos podemos hacer mucho con menos código
                  aprovechamos las líneas de código incluidas para no tener que escribir desde cero. Los
                  frameworks front-end tienen Opciones por defecto inteligentes es decir que están basados
                 en mejores prácticas.  Son con los más comunes y tienen compatibilidad con muchos navegadores
                .  Funcionan como nosotros pensamos que deberían de funcionar y tratamos de complacer a los 
                clientes con los nuevos diseños. Además de que un frameworks front-end que está bien hecho o
                 documentado facilita que nosotros comencemos a trabajar en un nuevo proyecto. Los frameworks
                 front-end son una excelente herramienta para crear un prototipo rápido y refinarlo iterativamente
                 hasta llegar al código que necesitamos. Hoy en día y según sea necesario se puede combinar o sustituir
                 varios  framework front-end más completos. </p>
            <div class="row-fluid">
                    <div class="span9">
                        <div id="controls" class="row-fluid">
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

